<!--==========================
  Header
  ============================-->
  <header id="header">

    <div id="topbar">
      <div class="container">
        <div class="social-links">
          <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
          <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
          <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
          <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <h1 class="text-light"><a href="#intro" class="scrollto"><span>PVR</span></a></h1>
        <!-- <a href="#header" class="scrollto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}"><a [routerLink]="['']">Home</a></li>
          <li routerLinkActive="active"><a [routerLink]="['/about']">About Us</a></li>
          <li routerLinkActive="active"><a [routerLink]="['/services']" routerLinkActive="router-link-active">Services</a></li>
          <li class="drop-down" routerLinkActive="active"><a [routerLink]="['/vat']" routerLinkActive="router-link-active" >Taxes</a>
            <ul>
              <li routerLinkActive="active"><a [routerLink]="['/vat']" routerLinkActive="router-link-active" >Vat</a></li>
              <li routerLinkActive="active" class="drop-down"><a [routerLink]="['/gst']" routerLinkActive="router-link-active" >GST</a>
                <ul>
                  <li routerLinkActive="active"><a [routerLink]="['/gst']" routerLinkActive="router-link-active" >CGST</a></li>
                  <li routerLinkActive="active"><a [routerLink]="['/gst']" routerLinkActive="router-link-active" >SGST</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li routerLinkActive="active"><a [routerLink]="['/reviews']" routerLinkActive="router-link-active" >Reviews</a></li>
          <li routerLinkActive="active"><a [routerLink]="['/contact']" routerLinkActive="router-link-active" >Contact Us</a></li>
          <li routerLinkActive="active"><a [routerLink]="['/clinets']" routerLinkActive="router-link-active" >Know Your Tax</a></li>
        </ul>
      </nav><!-- .main-nav -->

    </div>
  </header><!-- #header -->
